<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <title>Registered Successfully</title>
<meta name='description' content=''>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous'>
</head>
<body class='text-center'>
    <h1>Success! Welcome {{request.session.first_name}} </h1>
        <p>You are registered (and/or) logged in! Thank you.</p>
    <a href="/" class="btn btn-primary btn-lg">Back to Registration/Login</a>
</body>
</html>